<h1> your log </h1>

<%= link_to "new", new_activity_path %>

<% @activities.reverse_order.each do |a| %>
<p><strong><%= a.name %></strong> -- <%= a.created_at.strftime("%I:%M:%S") %></p>
<hr>
<% end %>


  
   
